.custom-scrollable {
    height: 635px;
    overflow-y: auto;
    border: 1px solid #d8dde6;
    padding: 1rem;
}
.titleHeader{
    font-size: 1rem;
}
.titlelink{
    color:blue;
}
.description{
    color: brown;   
    font-size: larger;
    font-weight: bold;
}
.title{
    color: blue;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 15px;    
}